.card-st {
  width: 100px;
  height: 100px;
  background-color: #6b5ca4;
  border: solid 3px #9179ef;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: default;
  filter: brightness(1);
  transition: filter 0.7s ease;
}

.card-st.hovered {
  filter: brightness(2);
  transition: filter 0.7s ease;
}

.card-st-logo {
  height: 50px;
}

.card-st-name {
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .card-st {
    width: 75px;
    height: 75px;
    border-radius: 5px;
  }
  .card-st-logo {
    height: 25px;
  }

  .card-st-name {
    font-size: 12px;
  }
}
